<!--
  Chapter 1
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>I'm in the AppComponent!</h3>
      <hr/>
      <app-servers></app-servers>
        &lt;!&ndash;<div app-servers></div>&ndash;&gt;
        &lt;!&ndash;<div class="app-servers"></div>&ndash;&gt;
        &lt;!&ndash;Components can be attribute and class as well&ndash;&gt;
    </div>
  </div>
</div>

<hr/>-->

                      <!--  $event is data from the child component   -->
  <!--

  <div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>-->

  <!--<app-cockpit
    (onServerEmit)="onServerAdded($event)"
    (onBlueprintEmit)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary"
              (click)="onChangeFirst()">Change first Element</button>
      <button class="btn btn-danger"
              (click)="onDestroyFirst()">Destroy first Element</button>

      <app-server-element
        style="margin-top: 5px"
        *ngFor="let serverElement of serverElements"
        [srvElement]="serverElement"
        [name]="serverElement.name"
      >
        &lt;!&ndash;opening child component&ndash;&gt;
        <p class="card-text" style="padding: 20px">
          <strong
            *ngIf="serverElement.type === 'server';else blueprint"
            style="color : red"
          >{{ serverElement.content }}</strong>
          <ng-template #blueprint>
            <strong
              style="color : blue"
            >{{ serverElement.content }}</strong>
          </ng-template>
        </p>
        &lt;!&ndash;closing child component&ndash;&gt;
      </app-server-element>
        &lt;!&ndash;sending serverElement property to child component&ndash;&gt;
    </div>
  </div>

</div>

  -->
<!--

<div class="container">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
      >Only show odd</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent' }"
          >
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{even: even === 0}"
            [ngStyle]="{backgroundColor: even % 2 === 0 ? 'blue' : 'transparent' }"
          >
            {{ even }}
          </li>
        </div>
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive!</p>
    </div>
  </div>
</div>
-->

<div class="container">
  <div class="row">
    <div class="col-12">
      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
      <hr>
      <app-account
        *ngFor="let acc of accounts;let id = index"
        [account]="acc"
        [id]="id"
        (statusChanged)="onStatusChanged($event)"
      ></app-account>
    </div>
  </div>
</div>















































