
<mat-card>
  <div class="row" >
    <app-chapter-title [title]="'First-Step Angular : Angular Architecture'" ></app-chapter-title>
    <hr>
  </div>

  <div class="col-12 example">
    <app-check-list
      (checkResultEmitter)="onResultHandler($event)"
      [deletedCheck]="deletedCheck"
    ></app-check-list>
            <!-- for custom event , $event is the data which is from child component -->
    <hr/>
    <app-check-result
      [checkedResults]="checkResults"
      (onRemoveCheckEmitter)="onRemoveHandler($event)"
    ></app-check-result>
  </div>


  <div class="col-12 example">
    <app-example-title [chapter]="'Searching Dom Element in Template'"></app-example-title>
    <app-parent></app-parent>
  </div>

  <div class="col-12 example">
    <app-dom-search-parent></app-dom-search-parent>
  </div>

  <div class="col-12 example">
    <app-template-variable></app-template-variable>
  </div>

  <div class="col-12 example">
    <app-ng-on-init-ng-on-destroy [content]="'test'"></app-ng-on-init-ng-on-destroy>
    <a class="btn btn-outline-primary" [routerLink]="['/']" >Go Back</a>
  </div>


</mat-card>
