<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link header-nav"
       [class.active]="!isSelected" (click)="onSelect('recipe');"
       #homeNavLink
    >Recipe Book</a>
  </li>
  <li class="nav-item">
    <a class="nav-link header-nav"
       [class.active]="isSelected == 'recipe'"
       (click)="onSelect('recipe')">Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link header-nav"
       [class.active]="isSelected == 'shopping-list'"
       (click)="onSelect('shopping-list')">Shopping List</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle header-nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Manage</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Sava Data</a>
      <a class="dropdown-item" href="#">Fetch Data</a>
    </div>
  </li>
</ul>
