
<mat-card>
  <div class="row" >
    <app-chapter-title [title]="'First-Step Angular : Chapter 4: Fundamental concept of constructing view'" ></app-chapter-title>
    <hr>
  </div>

  <div class="col-12 example">
    <app-example-4-2-1></app-example-4-2-1>
  </div>

  <div class="col-12 example">
    <app-example-4-2-3></app-example-4-2-3>
  </div>


  <div class="col-12 example">
    <app-example-4-2-4></app-example-4-2-4>
  </div>


  <div class="col-12 example">
    <app-simple-counter></app-simple-counter>
  </div>

  <div class="col-12 example">
    <app-example-4-13></app-example-4-13>
  </div>

  <div class="col-12 example">
    <app-example-4-14></app-example-4-14>
  </div>


</mat-card>
