
<mat-card>
  +
  <div class="row" >
    <app-chapter-title [title]="'Chapter 8: Angular Form>:'" ></app-chapter-title>
    <hr>
  </div>

  <div class="col-12 example">
    <app-example-8-1-4></app-example-8-1-4>
  </div>

  <div class="col-12 example">
    <app-example-8-2-1></app-example-8-2-1>
  </div>

  <div class="col-12 example">
    <app-template-form-practice></app-template-form-practice>
  </div>

  <div class="col-12 example">
    <app-template-from-validator-practice></app-template-from-validator-practice>
  </div>


</mat-card>
