
<div class="row" >
<ul>
  <li><a [routerLink]="['/chapter1']">Chapter 1: Starting Angular>:</a></li>
  <li><a [routerLink]="['/chapter2']">Chapter 2: Router>:</a></li>
  <li><a [routerLink]="['/chapter3']">Chapter 3: Dependency Injection>:</a></li>
  <li><a [routerLink]="['/chapter4']">Chapter 4: Data Binding>:</a></li>
  <li><a [routerLink]="['/chapter5']">Chapter 5: Component Communication>:</a></li>
  <li><a [routerLink]="['/chapter6']">Chapter 6: Forms>:</a></li>
  <li><a [routerLink]="['/chapter7']">Chapter 7: Http>:</a></li>
  <hr>

  <li><a [routerLink]="['/first-step/chapter3']">앵귤러 첫걸음 - Chapter 3: Angular Architecture>:</a></li>
  <li><a [routerLink]="['/first-step/chapter4']">앵귤러 첫걸음 - Chapter 4: Fundamental concept of constructing view>:</a></li>
  <li><a [routerLink]="['/first-step/chapter5']">앵귤러 첫걸음 - Chapter 5: Construct Solid Application Architecture>:</a></li>

  <hr>
  <li><a [routerLink]="['/project']">Learning Project>:</a></li>
  <li><a [routerLink]="['/project2']">Learning Project2>:</a></li>
</ul>
</div>
