<label >Server Name</label>
<input type="text" class="form-control"
    (input)="onUpdateServerName($event)">
                            <!--$event - default event shipped with dom-->
          <!--property binding-->
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">Add Server</button>
        <!-- Event Binding () -->
<!--<p [innerText]="allowNewServer"></p>-->
    <!--Do not mix the string interpolation with property binding-->
<p>{{serverCreationStatus}}</p>

<app-server></app-server>
<app-server></app-server>
