
<mat-card>
  <div class="row" >
    <app-chapter-title [title]="'First-Step Angular : Angular Architecture'" ></app-chapter-title>
    <hr>
  </div>

  <div class="col-12 example">
    <app-example-3-1></app-example-3-1>
  </div>

  <div class="col-12 example">
    <app-example-3-2></app-example-3-2>
  </div>

  <div class="col-12 example">
    <app-example-title [hide_chapter]="true" [chapter]="'I18N WELCOME SERVICE'"></app-example-title>
    <app-welcome-msg></app-welcome-msg>
    <app-lang-selector></app-lang-selector>

  </div>

</mat-card>
