
<mat-card>
  <div class="row">
    <app-chapter-title [title]="'Chapter 6 - Forms'" ></app-chapter-title>
    <hr>
    <ul>
      <li class="sub-chapter">
        <h3>앵귤러 폼처리 기본</h3>
        <p>앵귤러에선 폼을 구현할 때 <a [routerLink]="['/chapter4']">데이터 바인딩(data binding)</a> 혹은 폼 컨트롤(form control), 이 두가지 방식으로 처리한다.
          폼 컨트롤은 다시 <strong>템플릿 기반 폼(template form)</strong>, <strong>반응형 폼(reactive form)</strong> 두가지로 나누어진다.
          앵귤러에서 제공하는 폼 컨트롤 사용시 가장 훌륭한 점은 <strong>HTML 표준 폼</strong> 달리 사용자 검증 로직(custom validation)을 넣을 수 있다는 것이다.</p>
      </li>

      <li class="sub-chapter">
        <h3>HTML 표준 유효성 속성(HTML STANDARD VALIDATION ATTRIBUTE)</h3>
        <p>
          입력 필드엔 <code>required, pattern, maxlength, min, max, step</code>과 같은 표준 속성으로 유형성을 검증할 수 있다.
        </p>

        <br/><hr/>
        <mat-card>
          <mat-card-content>
            <code [innerText]="'<input #myInput matInput placeholder=\'입력\' type=\'text\' required pattern=\'[a-zA-Z0-9]+\'>'"></code>
          </mat-card-content>
        </mat-card>
        <br/><hr/>

        <p><span>{{myInput.validity.valid}}</span></p>
        <mat-form-field>
          <input #myInput matInput placeholder="입력" type="text" required pattern="[a-zA-Z0-9]+">
        </mat-form-field>
      </li>

      <li class="sub-chapter">
        <h3>Angular 폼 기본(Angular Form)</h3>
        <p>
          앞에서 말했다 싶이, 앵귤러에서 폼을 처리하는 방식은 <strong>템플릿 기반 폼 방식</strong> 과 <strong>반응형 폼 방식</strong>이 있다.
          템플릿 기반 폼(template form)은 템플릿(template)에서 디렉티브(directive)를 사용하고,
          반응형 폼은 컴포넌트에서 폼 컨트롤(FormControl)을 사용한다.
          간단한 방식은 주로 템플릿 기반 폼을 사용하고, 복잡한 폼은 반응형 폼을 사용하는 것을 추천한다.
        </p>
        <p>
          두 가지 앵귤러 폼의 중요한 특징을 알아보자.
        </p>
        <ul>
          <li>두 방식 모두 폼 데이터를 Model에 저장한다. <strong>템플릿은 디렉티브(template directive)</strong>를 사용하여 모델을 정의.반응형은 <strong>컴포넌트 코드에서 모델</strong>을 정의하고 템플릿에 연결한다.</li>
          <li>반응형 폼에서 모델을 정의할때는 <code>FormControl, FormGroup, FormArray</code> 클래스를 사용한다.</li>
          <li>반응형 폼에서 모델을 정의한 후, 템플릿에서 연결될 엘리먼트를 정의한다.</li>
        </ul>
      </li>

      <li class="sub-chapter">
        <h3>템플릿 기반 폼(Template Form)</h3>
        <p>
          템플릿 기반의 폼에선 모델을 정의할 때는 <code>FormsModule</code>의 <code>NgModel, NgModelGroup, NgForm</code>을 사용한다.
        </p>

        <p>
          NgForm은 폼 전체를 가리키는 디렉티브이며, <strong>폼 모듈을 로드하면 모든 form 엘리먼트는 이 디렉티브가 자동으로 적용된다.</strong>
          <strong>NgForm 인스턴스</strong>의 값을 참조할 때 <strong>지역 템플릿 변수(local template variable)</strong>을 지정해 사용할 수도 있다.
          또한 NgForm은 폼에서 발생하는 <strong>submit 이벤트</strong>의 동작을 막으므로 <strong>NgSubmit 이벤트</strong>를 사용해야 한다
        </p>

        <app-code [code]="codes[0].code" [title]="codes[0].title"></app-code>
        <app-chapter6-1-1></app-chapter6-1-1>

        <p>
          템플릿 기반 폼에서 <code>NgModel</code><strong>[양방향 바인딩의 NgModel과 다르다]</strong>은 폼에 있는
          필드 하나를 가르키며, <strong>FormControl 인스턴스가</strong> 생성된다.
        </p>

        <app-code [code]="codes[1].code" [title]="codes[1].title"></app-code>
        <app-chapter6-1-2></app-chapter6-1-2>

        <p>
          NgModelGroup을 사용하면 폼 필드(NgModel)을 그룹으로 묶어 사용할 수 있다.
          NgModelGroup 또한 <strong>FormGroup 인스턴스를 내부적으로 생성한다.</strong>
          <strong>NgForm.value</strong> 객체 안에 내부적으로 생성되며, NgModelGroup의 내부 폼 필드들은 생성된 객체의 프러퍼티로 존재한다.
        </p>

        <app-code [code]="codes[2].code" [title]="codes[2].title"></app-code>
        <app-chapter6-1-3></app-chapter6-1-3>

        <p>
          지금까지 배웠던 것을 합쳐서 회원 가입 폼을 정의해보자.
        </p>

        <app-code [code]="codes[3].code" [title]="codes[3].title"></app-code>

        <p *ngIf="result">
          {{result | json }}
        </p>
        <app-chapter6-1-4 (submitEmitter)="onSubmitHandler($event)"></app-chapter6-1-4>
      </li>

      <li class="sub-chapter">
        <h3>반응형 폼(Reactive Form)</h3>
        <p>
          <strong>반응형 폼</strong>은 컴포넌트안에 폼 모델(Form Model)을 정의하고, <strong>폼 모델과 템플릿의 HTML Element와 연결한다</strong>.
          <strong>폼 모델</strong>은 데이터를 저장할 때 사용하는 데이터 구조체이며, <code>FormControl, FromGroup, FormArray</code>로 정의되어 있다.
        </p>

        <p>
          <code>FormControl</code>은 폼을 구성하는 기본 단위이며, FormControl 모델은 보통 <code [innerText]="'<input>'"></code> Element 하나에 해당된다.
          FormControl의 장점은 HTML 엘리먼트에 있는 값을 저장하며, 값이 변경되었는지를 확인하며 <strong>유효성 검증 상태</strong>를 확인할 수 있다.
        </p>

        <p>
          <code>FormGroup</code>은 폼을 구성하는 요소이며, <strong>FormControl</strong>을 그룹으로 묶을 때 사용한다.
          그룹으로 묶인 FormControl들 중 하나라도 유효성이 검사에 실패하면 전체 그룹의 유효성 검사가 실패하는 것으로 처리하기에
          연관된 항목을 묶을때 편리하다.
        </p>

        <app-code [code]="codes[4].code" [title]="codes[4].title"></app-code>
        <app-code [code]="codes[5].code" [title]="codes[5].title"></app-code>

        <app-chapter6-1-5></app-chapter6-1-5>

        <p>
          <strong>FormArray</strong>는 FormGroup과 비슷하지만 <strong>배열과 비슷한 기능</strong>을 하며, 필드가 사용자의 액션에 따라
          늘어날때 유용하다(Dynamically adding form).
        </p>

        <hr>
        <br/>

        <h3>반응형 폼 데릭테브</h3>

        <p>
          <strong>반응형 폼 디렉티브</strong>은 <code>form</code> 접두사가 붙으며, 템플릿의 <code>ng</code> 접두사와 구별된다.
          반응형 디렉티브는 템플릿 변수를 지정할 수 없으며 템플릿 클래스에서 모델을 조작해야 한다.
        </p>

        <p>
          <strong>formGroup</strong>은 폼을 구성하는 <code [innerText]="'<form>'"></code>에 FormGroup 모델 클래스를 바인딩하는 역할을 한다.
          모델과 템플릿을 연겨라려면 컴포넌트에 지정한 프러퍼티 이름과 폼 디렉티브에 지정한 이름이 같아야 한다.
        </p>

        <p>
          <strong>formGroupName</strong>은 폼 안에서 새로운 그룹으로 폼 컨트롤을 묶는 역할을 한다. <code>formGroupName 디렉티브</code>는
          formGroup 클래스를 사용한다.
        </p>

        <app-code [code]="codes[6].code" [title]="codes[6].title"></app-code>
        <app-chapter6-1-6></app-chapter6-1-6>

        <p><strong>formContol</strong>은 폼 안에 정의된 필드를 가르키기 위해서 사용할 수도, <strong>FormGroup</strong>으로
        정의되지 않은 상태에서도 사용할 수 있다. 우리는 이미 <a [routerLink]="['/chapter4']">Chapter4 Observable</a>에서 FormControl의 property인
        <code>valueChanges</code>를 사용했었다.

          <app-code [code]="codes[7].code" [title]="codes[7].title"></app-code>
          <app-chapter6-1-7></app-chapter6-1-7>
        </p>
      </li>

      <li class="sub-chapter">
        <h3>폼 유효성 검사(Validator)</h3>
        <p>
          폼의 유효성 검사는 <strong>validator</strong>을 이용하여 구현한다.
          앵귤러는 기본 유효성 검사기 <code>required, minLength, maxLength, pattern</code> 등을 제공하며,
          개발자는 본인만의 유효성 검사기(custom validator)를 구현할 수 있다.
          유효성 검사기를 정의한 후 <strong>폼 모델 생성시 이 함수를 인자로 넘기면</strong> 폼 컨트롤러의 프러퍼티를 통해
          유효 검사의 결과를 확인할 수 있다.
          <strong>유효성 검사기의 갯수에는 제한이 없으며</strong> <code>valid</code>property 을 통해 검사 결과를 확인할 수 있다.
        </p>

        <p><strong>커스텀 유효성 검사기(Custom Validator)</strong>은 사용자가 원하는 특정 로직을 검사할 수 있으며
        단순한 함수이기에 정의하기 간편하다. <strong>주의할 점은 <code>FormControl,FormGroup,FormArray</code>와 같은 모델 클래스를 인자로 받고
            검사 로직을 수행후 에러 객체를 반환하면 된다.</strong></p>

        <app-code [code]="codes[8].code" [title]="codes[8].title"></app-code>
        <app-code [code]="codes[9].code" [title]="codes[9].title"></app-code>
        <app-chapter6-2-1></app-chapter6-2-1>
      </li>
    </ul>
  </div>
</mat-card>
